.card-home-wrapper {
  padding: 32px 128px;
}

.card-home-item {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 0; 
  column-gap: 24px;
  row-gap: 16px;
}

.home-button-wrapper {
  text-align: center;
  padding: 0 0 24px 0;
}

.home-pagination {
  padding: 16px 0;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 992px) {
  .card-home-wrapper {
    display: block;
    padding: 0;
  }
  .card-home-item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

}
